`ifndef TB_AXI_LITE_SEQUENCER_SVH
`define TB_AXI_LITE_SEQUENCER_SVH

class axi_lite_sequencer extends uvm_sequencer #(axi_lite_sequence_item);
    `uvm_component_utils(axi_lite_sequencer)

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction
endclass

`endif
